body {
  text-align: center;
  background-color: black;
  background-image: src(./images/background.jpg)

}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}
