body {
    text-align: center;
    background-color: #474242;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}
