body {
    text-align: center;
    background-color: black;
    /*background-image: url(");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
}

h1 {
    color: chartreuse;
}


p {
    color: chartreuse;
}


div {
  margin-top: 15px;
}

.main-image {
  display: flex;
  justify-content: center;
}
